<div class="row">
    <div class="col-md-4 col-md-offset-4 margin-top-50">
        <h2>{{$ctrl.title}}</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod vel eros id porttitor. Suspendisse ipsum erat, sodales a odio a, posuere blandit magna. Vestibulum vulputate elementum lacus et suscipit. Donec enim diam, consequat at velit vel, bibendum consequat nisi. Nunc pretium, eros eu dapibus aliquet, enim est auctor enim, aliquam tincidunt ante lacus eget ligula. Morbi imperdiet, dui a cursus semper, turpis lorem molestie arcu, sed vestibulum ex ipsum ac metus. Cras finibus nisl enim, eu venenatis ligula ullamcorper vitae. Sed dignissim fermentum magna. Phasellus eu lacus at ligula condimentum ornare et vel odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean vitae tortor eleifend, volutpat magna eu, tristique libero.

            Cras eget leo vitae odio iaculis condimentum a non magna. Mauris at aliquam ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In non hendrerit urna. Cras posuere cursus neque id ultrices. Donec sagittis convallis nibh, ut rutrum velit hendrerit et. Ut pharetra est eu turpis feugiat cursus eu in nisl. Donec sodales arcu nibh, eget eleifend ipsum congue a. Maecenas in sodales elit, id lacinia nibh. Cras non metus et nulla tincidunt condimentum vel vel magna. Nunc in convallis neque. Donec facilisis interdum justo. Quisque vitae malesuada lorem. In tristique arcu euismod fermentum pretium.
        </p>
    </div>
</div>