<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <meta charset="utf-8" />
    <title>My First Angular App</title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="lib/site.css" rel="stylesheet" />
</head>
<body>
    <div class="row" ng-controller="TodoController as todoCtrl">
        <div class="text-center margin-top-50">
            <h2>{{ todoCtrl.title }}</h2>
        </div>

        <div class="col-md-4 col-md-offset-4 margin-top-50">
            <form name="todoForm">
                <div class="input-group">
                    <input type="text" name="taskName" class="form-control" placeholder="Enter task name..." ng-model="todoCtrl.todo.name" required />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" ng-click="todoCtrl.create()"
                                ng-disabled="todoForm.taskName.$invalid">
                            Add
                        </button>
                    </span>
                </div>
            </form>

            <h3 class="margin-top-50" ng-hide="todoCtrl.isTodoListVisible()">You don't have any tasks.</h3>

            <table class="table table-hover margin-top-50" ng-show="todoCtrl.isTodoListVisible()">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Completed</th>
                        <th class="text-right"><button class="btn btn-default" type="button" ng-click="todoCtrl.removeAll()">Remove All</button></th>
                    </tr>
                </thead>
                <tr ng-repeat="todo in todoCtrl.todos">
                    <td class="text-left" ng-class="{complete: todo.isComplete}">
                        {{ todo.name }}
                    </td>
                    <td class="text-center">
                        <input type="checkbox" class="checkbox" ng-model="todo.isComplete" ng-click="todoCtrl.update(todo);" />
                    </td>
                    <td class="text-right">
                        <button class="btn btn-default" type="button" ng-click="todoCtrl.remove(todo.key)">Remove</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/todo.controller.js"></script>
    <script src="app/todo.service.js"></script>
</body>
</html>